# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyi
*.pyz
*.egg-info/
dist/
build/

# Environments
.venv/
env/
venv/
*.env
.env

# Jupyter
.ipynb_checkpoints/

# IDE / Editor
.vscode/
.idea/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Logs
*.log
